@import "tailwindcss";

@theme {
    --font-primary: var(--font-primary);


    --breakpoint-3xl: 1800px;

    /*colors*/
    --color-primary: #FF5E1F;
    --color-accent-light: #FDC977;
    --color-offblack: #040200;
    --color-accent-dark: #291705;
    --color-offwhite: #FDFDF1;
    --color-darkgray: #817F7E;
    --color-lightgray: #FDFCFC;
    --color-white: #FFFFFF;

    --color-primary-light: #FFE8DF;

    --color-error: #E83434;
    --color-error-light: #FAD1D1;

    --color-warning: #EFBD1A;
    --color-warning-light: #FCF1CF;

    --color-success: #12BA54;
    --color-success-light: #D1FAE1;
    /*//*/

    --gradient-primary: linear-gradient(177deg, #FF6C33 0.05%, #FD6226 99.95%);
    --gradient-dark: linear-gradient(263deg, #040200 7.28%, #291705 70.13%);

    --shadow-primary: 2px 5px 6px rgba(0, 0, 0, 0.05);

    --shadow-inner-light: 4px 4px 18px 2px rgba(255, 255, 255, 0.1) inset;
    --shadow-inner-dark: 0 0 10px 0 rgba(0, 0, 0, 0.05) inset;

    --shadow-inner-nav: -12px 12px 20px 0px rgba(255, 255, 255, 0.07) inset;
    --shadow-nav: 6px 0px 24px rgba(0, 0, 0, 0.15);

}

:root {
    --container-gap: 24px;
}

@media (max-width: 1800px) {
    :root {
        --container-gap: 16px;
    }
}

.gradient-primary {
    background: var(--gradient-primary);
}
.gradient-dark {
    background: var(--gradient-dark);
}
.shadow-inner-light {
    box-shadow: var(--shadow-inner-light);
}
.shadow-inner-dark {
    box-shadow: var(--shadow-inner-dark);
}
.shadow-nav-set {
    box-shadow: var(--shadow-nav), var(--shadow-inner-nav);
}
.shadow-set {
    box-shadow: var(--shadow-primary), var(--shadow-inner-light);
}

.content-container{
    @apply w-full p-12;
}

.link{
    @apply font-bold text-xl font-semibold transition-all duration-300 z-20 px-5 py-1.5 w-52 h-[50px] pt-2;
}
.link-text {
    @apply flex flex-row gap-1.5 items-center;
}
.navbar-action{
    @apply flex flex-row gap-2 text-offwhite cursor-pointer text-xl;
}

.table-cell{
    @apply py-6 px-6 min-w-[250px] truncate;
}
.lead-control{
    @apply cursor-pointer hover:opacity-70 transition-all duration-300;
}
.modal-container{
    @apply w-full rounded-3xl bg-white shadow-xl px-16 py-14 relative max-w-[900px];
}
.icon-button{
    @apply flex justify-center items-center gap-2
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none; /* IE / Edge */
    scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar*/
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar:vertical {
    width: 0;
}

.custom-scrollbar::-webkit-scrollbar:horizontal {
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 9999px;
    cursor: grab;
}

.required::after {
    @apply text-error ml-0.5;
    content: '*';
}
